# ===================
# BACKEND (.NET)
# ===================

# Configurações locais e de produção
appsettings.Production.json
appsettings.Local.json
*.local.json

# Build outputs
**/bin/
**/obj/
**/out/
**/publish/

# Visual Studio / VS Code
.vs/
.vscode/
*.user
*.userprefs
*.code-workspace
*.pfx
*.publishsettings

# SQL Server
*.mdf
*.ldf
*.bak

# ===================
# SISTEMA
# ===================

.DS_Store
Thumbs.db
*.tmp
*.log
*.swp
*.swo
*~